<a class="button create" href="#"><span>{{buttons.create}}</span></a>

<a class="cur-month-full" href="#"><span>Жовтень 2012</span></a>

<table class="table-calendar-small">
    <thead>
        <tr>
            {{#weekDaysSimple}}
                <th>{{day}}</th>
            {{/weekDaysSimple}}
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>24</td>
            <td>25</td>
            <td>26</td>
            <td>27</td>
            <td>28</td>
            <td>29</td>
            <td>30</td>
        </tr>
        <tr>
            <td class="cur-month">1</td>
            <td class="cur-month event">2</td>
            <td class="cur-month">3</td>
            <td class="cur-month">4</td>
            <td class="cur-month">5</td>
            <td class="cur-month">6</td>
            <td class="cur-month">7</td>
        </tr>
        <tr>
            <td class="cur-month">8</td>
            <td class="cur-month">9</td>
            <td class="cur-month">10</td>
            <td class="cur-month">11</td>
            <td class="cur-month event">12</td>
            <td class="cur-month">13</td>
            <td class="cur-month">14</td>
        </tr>
        <tr>
            <td class="cur-month event">15</td>
            <td class="cur-month">16</td>
            <td class="cur-month">17</td>
            <td class="cur-month">18</td>
            <td class="cur-month">19</td>
            <td class="cur-month">20</td>
            <td class="cur-month">21</td>
        </tr>
        <tr>
            <td class="cur-month">22</td>
            <td class="cur-month">23</td>
            <td class="cur-month event">24</td>
            <td class="cur-month">25</td>
            <td class="cur-month">26</td>
            <td class="cur-month cur-date">27</td>
            <td class="cur-month">28</td>
        </tr>
        <tr>
            <td class="cur-month event">29</td>
            <td class="cur-month">30</td>
            <td class="cur-month">31</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
        </tr>
    </tbody>
</table>