<div class="month-grid-head row span_28 4days">
    {{#weekDays}}
        <div class="col item span_3">&nbsp;</div>
        {{#4days}}
            <div class="col item span_6{{#current}} wk-today{{/current}}"><span>{{day}}</span> <span class="bold">{{date}}</span></div>
        {{/4days}}
    {{/weekDays}}
</div>
<div class="clear"></div>
<div class="month-grid-weather span_28">
    <div class="row">
        <div class="col item span_week">GMT+02</div>
        <div class="col item span_4"><img class="weather-icon" src="css/img/mostly_sunny.gif" alt=""/></div>
        <div class="col item span_4"><img class="weather-icon" src="css/img/mostly_sunny.gif" alt=""/></div>
        <div class="col item span_4"><img class="weather-icon" src="css/img/mostly_sunny.gif" alt=""/></div>
        <div class="col item span_4"><img class="weather-icon" src="css/img/mostly_sunny.gif" alt=""/></div>
        <div class="col item span_4"><img class="weather-icon" src="css/img/mostly_sunny.gif" alt=""/></div>
        <div class="col item span_4"><img class="weather-icon" src="css/img/mostly_sunny.gif" alt=""/></div>
        <div class="col item span_4"><img class="weather-icon" src="css/img/mostly_sunny.gif" alt=""/></div>
    </div>
</div>
<div class="clear"></div>
<div class="month-grid-body span_28">
    <div class="month-grid-week row">
        <div class="col item span_week">06:00</div>
        <div class="col item span_4 wk-today"><a href="">2</a></div>
        <div class="col item span_4"><a href="">3</a></div>
        <div class="col item span_4"><a href="">7</a></div>
        <div class="col item span_4"><a href="">3</a></div>
        <div class="col item span_4"><a href="">7</a></div>
        <div class="col item span_4"><a href="">3</a></div>
        <div class="col item span_4"><a href="">7</a></div>
    </div>
    <div class="month-grid-week row">
        <div class="col item span_week">07:00</div>
        <div class="col item span_6 wk-today"><a href="">2</a></div>
        <div class="col item span_4"><a href="">3</a></div>
        <div class="col item span_4"><a href="">7</a></div>
        <div class="col item span_4"><a href="">3</a></div>
        <div class="col item span_4"><a href="">7</a></div>
        <div class="col item span_4"><a href="">3</a></div>
        <div class="col item span_4"><a href="">7</a></div>
    </div>
    <div class="month-grid-week row">
        <div class="col item span_week">06:00</div>
        <div class="col item span_6 wk-today"><a href="">2</a></div>
        <div class="col item span_4"><a href="">3</a></div>
        <div class="col item span_4"><a href="">7</a></div>
        <div class="col item span_4"><a href="">3</a></div>
        <div class="col item span_4"><a href="">7</a></div>
        <div class="col item span_4"><a href="">3</a></div>
        <div class="col item span_4"><a href="">7</a></div>
    </div>
    <div class="month-grid-week row">
        <div class="col item span_week">07:00</div>
        <div class="col item span_6 wk-today"><a href="">2</a></div>
        <div class="col item span_4"><a href="">3</a></div>
        <div class="col item span_4"><a href="">7</a></div>
        <div class="col item span_4"><a href="">3</a></div>
        <div class="col item span_4"><a href="">7</a></div>
        <div class="col item span_4"><a href="">3</a></div>
        <div class="col item span_4"><a href="">7</a></div>
    </div>
    <div class="month-grid-week row">
        <div class="col item span_week">06:00</div>
        <div class="col item span_6 wk-today"><a href="">2</a></div>
        <div class="col item span_4"><a href="">3</a></div>
        <div class="col item span_4"><a href="">7</a></div>
        <div class="col item span_4"><a href="">3</a></div>
        <div class="col item span_4"><a href="">7</a></div>
        <div class="col item span_4"><a href="">3</a></div>
        <div class="col item span_4"><a href="">7</a></div>
    </div>
    <div class="month-grid-week row">
        <div class="col item span_week">07:00</div>
        <div class="col item span_6 wk-today"><a href="">2</a></div>
        <div class="col item span_4"><a href="">3</a></div>
        <div class="col item span_4"><a href="">7</a></div>
        <div class="col item span_4"><a href="">3</a></div>
        <div class="col item span_4"><a href="">7</a></div>
        <div class="col item span_4"><a href="">3</a></div>
        <div class="col item span_4"><a href="">7</a></div>
    </div>
</div>