<div class="month-grid-head row span_28">
    {{#weekDays}}
        <div class="col item span_4">{{day}}</div>
    {{/weekDays}}
</div>
<div class="clear"></div>
<div class="month-grid-body span_28">
    <div class="month-grid-week row">
        <div class="col item span_4"><a href="">1 жов.</a></div>
        <div class="col item span_4"><a href="">2</a><a href="" class="cln-event">10:00 Oleh Birthday (!)</a></div>
        <div class="col item span_4"><a href="">3</a></div>
        <div class="col item span_4"><a href=""><img class="weather-icon" src="css/img/mostly_sunny.gif" alt=""/>4</a></div>
        <div class="col item span_4"><a href=""><img class="weather-icon" src="css/img/mostly_sunny.gif" alt=""/>5</a></div>
        <div class="col item span_4"><a href=""><img class="weather-icon" src="css/img/mostly_sunny.gif" alt=""/>6</a></div>
        <div class="col item span_4"><a href="">7</a></div>
    </div>
    <div class="month-grid-week row">
        <div class="col item span_4"><a href="">8</a></div>
        <div class="col item span_4"><a href="">9</a></div>
        <div class="col item span_4"><img class="weather-icon" src="css/img/mostly_sunny.gif" alt=""/><a href="">10</a></div>
        <div class="col item span_4"><a href="">11</a></div>
        <div class="col item span_4"><a href="">12</a><a href="" class="cln-event">12:00 Teem building</a></div>
        <div class="col item span_4"><a href="">13</a></div>
        <div class="col item span_4"><a href="">14</a></div>
    </div>
    <div class="month-grid-week row">
        <div class="col item span_4"><a href="">15</a><a href="" class="cln-event">08:00 Dentist</a></div>
        <div class="col item span_4"><a href="">16</a></div>
        <div class="col item span_4"><a href="">17</a></div>
        <div class="col item span_4"><a href="">18</a></div>
        <div class="col item span_4"><a href="">19</a></div>
        <div class="col item span_4"><a href="">20</a></div>
        <div class="col item span_4"><a href="">21</a></div>
    </div>
    <div class="month-grid-week row">
        <div class="col item span_4"><a href="">22</a></div>
        <div class="col item span_4"><a href="">23</a></div>
        <div class="col item span_4"><a href="">24</a><a href="" class="cln-event">14:00 Project RELEASE</a></div>
        <div class="col item span_4"><a href="">25</a></div>
        <div class="col item span_4"><a href="">26</a></div>
        <div class="col item span_4"><a href="">27</a></div>
        <div class="col item span_4"><a href="">28</a></div>
    </div>
    <div class="month-grid-week row">
        <div class="col item span_4"><a href="">29</a><a href="" class="cln-event">18:00 Party</a></div>
        <div class="col item span_4"><a href="">30</a></div>
        <div class="col item span_4"><a href="">30</a></div>
        <div class="col item span_4"><a href="">31</a></div>
        <div class="col item span_4"><a href="">1</a></div>
        <div class="col item span_4"><a href="">2</a></div>
        <div class="col item span_4"><a href="">3</a></div>
    </div>
</div>