<div class="month-grid-head row span_28 4days">
    {{#weekDays}}
        <div class="col item span_1">&nbsp;</div>
        {{#today}}
            <div class="col item span_27 wk-today"><span>{{day}}</span> <span class="bold">{{date}}</span></div>
        {{/today}}
    {{/weekDays}}
</div>
<div class="clear"></div>
<div class="month-grid-weather span_28">
    <div class="row">
        <div class="col item span_1">GMT+02</div>
        <div class="col item span_27"><img class="weather-icon" src="css/img/mostly_sunny.gif" alt=""/></div>
    </div>
</div>
<div class="clear"></div>
<div class="month-grid-body span_28">
    <div class="month-grid-week row">
        <div class="col item span_1">06:00</div>
        <div class="col item span_27 wk-today"><a href="">2</a></div>
    </div>
    <div class="month-grid-week row">
        <div class="col item span_1">07:00</div>
        <div class="col item span_27 wk-today"><a href="">2</a></div>
    </div>
    <div class="month-grid-week row">
        <div class="col item span_1">06:00</div>
        <div class="col item span_27 wk-today"><a href="">2</a></div>
    </div>
    <div class="month-grid-week row">
        <div class="col item span_1">07:00</div>
        <div class="col item span_27 wk-today"><a href="">2</a></div>
    </div>
    <div class="month-grid-week row">
        <div class="col item span_1">06:00</div>
        <div class="col item span_27 wk-today"><a href="">2</a></div>
    </div>
    <div class="month-grid-week row">
        <div class="col item span_1">07:00</div>
        <div class="col item span_27 wk-today"><a href="">2</a></div>
    </div>
</div>